@import './base.scss';
@import './flex.scss';
@import './form/form.scss';

#app {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: normal;
}

.page {
  margin: 1em;
}